<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PictureSampleProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA7C9C4B2094613B006626A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7C9C622094613C006626A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7C9C6D2094613C006626A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
