<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510573462227-4ks1ceflcgqebm4ikc3l5ncv84bni4fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510573462227-4ks1ceflcgqebm4ikc3l5ncv84bni4fi</string>
	<key>API_KEY</key>
	<string>AIzaSyC1lWYhdhSidcp9hd2uj9ETxjcVBjL0vwI</string>
	<key>GCM_SENDER_ID</key>
	<string>510573462227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kyo-s.FirebaseDynamicLinksSample</string>
	<key>PROJECT_ID</key>
	<string>sample-5ef9c</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-5ef9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510573462227:ios:79445b891a45d4e2</string>
	<key>DATABASE_URL</key>
	<string>https://sample-5ef9c.firebaseio.com</string>
</dict>
</plist>